.container {
    font-size: 20px;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid grey;
}

.container:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 0 grey;
}

.title {
    font-size: 26px;
}

.text {
    font-size: 18px;
}

.author {
    text-align: right;
    font-size: 14px;
}