body {
    margin: 0;
}

header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

header>div:first-child {
    width: fit-content;
    display: flex;
    align-items: center;
    padding-left: 25px;
    color: grey;
    text-transform: lowercase;
}

header>div:last-child {
    width: 225px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: capitalize;
    font-size: 12px;
}

.text-red {
    color: red
}

.container {
    box-sizing: border-box;
    width: 100%;
    min-height: 400px;
    max-height: 600px;
    height: 40vh;

    background-image: url('./imgs/containaer_1.jpg');
    background-size: cover;

    display: flex;
    align-items: center;
}

#cont-about-us {
    margin-left: 3.5%;
    box-sizing: border-box;
    padding: 5%;
    width: 40%;
    aspect-ratio: 1/0.5;
    background-color: rgb(246, 241, 241);
}

.text-about-us {
    font-size: 50px;
    font-weight: bolder;
}

.text-about-us+div {
    font-size: 14px;
    margin: 5px 0;
}

.text-about-us+div>span {
    border-bottom: 1px solid black;
    cursor: pointer;
}

.text-about-us+div>span:hover {
    border-color: red;
}

.button {
    background-color: pink;
    color: rgb(159, 119, 126);
    padding: 5px 45px;
    width: fit-content;
    border-radius: 25px;
    margin-top: 20px;
}




.container2 {
    display: flex;
    align-items: center;
    padding: 30px;
}


.img-box img {
    height: auto;
    width: 35vw;
    display: block;
}

.container2> :first-child {
    flex: 0 0 40%;
}

.containerTitle {
    font-size: 60px;
    margin: 10px 0px;
}

.containerText {
    font-size: 25px;
}

.pinkButton {
    color: #CD5B45;
    background-color: #f8c0c0;
    font-size: 25px;
    border-radius: 60px;
    border: none;
    padding: 20px 50px;
    cursor: pointer;
}




.container3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.container3> :first-child {
    padding: 0px 50px;
}


.rectangle {
    background-color: #f8c0c0;
    height: 2vh;
    width: 6vw;
}

