@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	overflow-x: hidden;
	color: white
}

#root {
	background: #3A405A;
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
}

:root {
	--header-height: 60px;
	--footer-height: 100px;
}