.container {
    font-size: 20px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 20px 10px;
    color: whitesmoke
}

.title {
    font-size: 26px;
}

.text {
    font-size: 18px;
}

.author {
    text-align: right;
    font-size: 14px;
}