.task_2 {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}


.task_2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65%;

    background-image: url('https://images01.nicepage.com/40/ca/40ca0ee707da85a9ba8bdd65ada9f156.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    z-index: 0;
}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 325px);
    grid-template-rows: repeat(3, 325px);
    gap: 25px;
    padding: 50px;
    z-index: 1;
}

.item_1 {
    grid-row: span 2;
    background-color: rgba(194, 165, 109, 0.9);
    font-size: 1.3rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 30px;
    box-sizing: border-box;
}

.item_1 h3 {
    margin: 0 0 30px 0;
}

.item_1 p {
    margin: 0;
    line-height: 1.6;
}

.item.img-item {
    background-color: transparent;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item.img-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.item_4 {
    display: flex;
    align-items: center;

    color: rgb(194, 165, 109);
    font-size: 3.5rem;
    text-transform: uppercase;
    text-align: center;

    text-align: left;
    padding-left: 20px;
}


.item_7 {
    grid-column: span 2;
    background-color: #ffffff;
    padding: 30px;

}

.item_7 p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.item_7 button {
    background-color: #fff;
    color: #434343;
    border: 2px solid #434343;
    padding: 12px 30px;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.item_7 button:hover {
    background-color: #434343;
    color: #fff;
}